.diagram-component {
    width: 50vw ;
    height: 80vh;
    border: solid 1px black;
    background-color: white;
}

.legend-item {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-right: 5%;
    margin-top: 20px;
}

.legend-box {
    display: flex;
    width: 100%;
    justify-content: center;
}


#diamond {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: yellow;
    border: 2px solid transparent;
    border-color: black;
    margin-right: 20px;
    margin-top: 35px;
}
